{% extends "catalog/base.html" %}
{% block content %}
<!-- this template shows a list of all the items in a given category. -->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center">Items in Category</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <!-- the following link will only be displayed if the
                            user is logged in. -->
                    <a href="/catalog/item/{{category_id}}/add"
                       class="btn bg-info center-block {{showLinks}}" role="button">Add
                        a new Item to
                        This Category</a>
                </div>
             </div>
            <div class="row">
                <p> </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="list-group">
                {% for i in categoryitems %}
                <!-- the following block lists all the items in the category -->
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-md-9">
                            <h4 class="list-group-item-heading">
                                {{i.title}}</h4>

                            <p class="list-group-item-text">
                                {{i.description}}</p>
                        </div>
                        <!-- the links/buttons in the section below allow
                                the user to edit the item info or delete
                                the item entirely. They are only visible
                                if there is a logged-in user as indicated
                                by the values within the showLinks variable -->
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="{{showLinks}}">
                                        <a href="/catalog/item/{{i.id}}/edit"
                                           class="btn bg-success"
                                           role="button">Edit</a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="{{showLinks}}">
                                        <a href="/catalog/item/{{i.id}}/delete"
                                           class="btn bg-danger"
                                           role="button">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content%}