{% extends "catalog/base.html" %}
{% block content %}
<!-- displays the list of categories in the database -->
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1 class="text-center">Categories</h1>
            <a href="/catalog/category/add"
                     class="btn bg-success {{showLinks}}"
                     role="button">Add a new Category</a>
            <br />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="list-group">
                {% for i in categories %}
                <!-- for each category in the database, repeat the following -->
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-md-7">
                            <a class="active"
                               href="/catalog/category/{{i.id}}/items">{{i.name}}</a>
                        </div>
                        <!-- the following div contains the edit and delete
                                buttons. They will only show if the showLinks
                                variable contains the 'show' class -->
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="/catalog/category/{{i.id}}/edit"
                                       class="btn bg-success {{showLinks}}"
                                       role="button">Edit
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <a href="/catalog/category/{{i.id}}/delete"
                                       class="btn bg-danger {{showLinks}}"
                                       role="button">Delete
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content%}