{% extends "catalog/base.html" %}
{% block content %}
<!-- this template shows the form to all an existing item to be edited.
        When the page is loaded, it will be pre-filled with the title and
        description the item has currently and the user can make changes. -->
<h1 class="bg-info">Edit Item: {{item_title}}</h1>
<form action="#" method='post'>
    <p>Title:</p>
    <input type='text' size='30' name='title' placeholder="{{item_title}}">
    <p>Description:</p>
    <input type="text" size="80" name="description" placeholder="{{item_description}}">
    <input type='submit' value='Make Change' class="btn bg-success">
    <a href='/' class="btn bg-danger" role="button">Cancel</a>
</form>
{% endblock content%}
